body {
    background-color: gray;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rebeccapurple;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.device {
    margin-bottom: 20px;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}